# PostgreSQLの接続URL（例: postgresql://ユーザー名:パスワード@localhost:5432/データベース名?schema=public）
DATABASE_URL="postgresql://postgres:your_password@localhost:5432/mekuru_db?schema=public"

# Auth.js用シークレット
AUTH_SECRET=""
